* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
.main-pgS .main-login-pgS,
.main-login-sub-pg-1S,
.main-login-sub-pg-2S,
.main-pgS .main-login-pgS .main-login-sub-pg-2S form h5,
input {
    background-color: #10293D;
}

.main-pgS {
    display: flex;
    padding: 40px 0px;
}

.main-pgS .main-pg-headingS {
    color: white;
}

.main-pgS .main-login-pgS {
    color: #999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

.main-pgS .main-login-pgS .main-login-sub-pg-1S {
    display: flex;
    flex-direction: column;
    color: black;
}

.main-pgS .main-login-pgS .main-login-sub-pg-1S button {
    color: black;
    margin: 10px 0px;
    padding: 5px 0px;
}

.main-login-pgS .main-login-sub-pg-2S input {
    border-radius: 20px;
    height: 33px;
    background-color: white;
    color: black;
    padding-left: 30px;
    outline: none;
}
.login-iconS {
    margin-right: 20px;
}

.main-login-sub-pg-2S form {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.main-login-sub-pg-2S form h5,
input {
    color: white;
}

.main-login-sub-pg-2S .login-btnsS {
    display: flex;
    justify-content: space-evenly;
}

.main-login-sub-pg-2S .login-btnsS button {
    padding: 7px 30px;
    margin-top: 20px;
}

.login-btnS {
    background-color: #282828;
    color: white;
}

.signup-btnS {
    background-color: #999999;
    color: black;
}

.forget-pass-linkS {
    color: #999999;
    cursor: pointer;
}

@media all and (max-width:992px) {
    .container .main-pgS {
        display: block;
        align-items: center;
    }
}

@media all and (max-width:786px) {
    .main-pgS .main-login-pgS {
        flex-direction: column-reverse;
    }
    .main-pgS .main-login-pgS .main-login-sub-pg-1S {
        display: flex;
        flex-direction: column-reverse;
        color: black;
    }
}